.cart{
   
  background-color: hsl(0deg 0% 90%);
  margin: 8px;
  border: 1px solid hsl(0deg 0% 90%);
  border-radius: 10px;
 
}
.cart img{
    height: 400px;
    background-color: aqua;
}
.btn-cart{
    background-color:tomato;
    height: 50px;
    width: 100%;
    font-size: 1em;
    align-items: center;
    color: white;
}